<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
    <h1>Edit Post</h1>
    <form action="/update/<%= id %>" method="post">
        <textarea name="post" class="tweet-area" required><%= post %></textarea>
        <button type="submit" class="update-button">Update</button>
        <a href="/">Cancle</a>
    </form>
    </div>
</body>
</html>